html {
    padding: 0;
    font-family: Helvetica, sans-serif;
}

body {
    margin: 0;
    background: #222;
    font-size: 30px;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

#requests div {
    position: relative;
    margin: 0;
    padding: 5px 10px;
    display: block;
    background-color: #222222;
    color: #fff;
    border: 0 #444 solid;
    border-right-width: 15px;
}

#requests div p {
    color: #aaa;
}

.author, .project, .lastUpdate {
    color: #fff;
}

#lineTemplate {
    display: none !important;
}

h2, p {
    margin: 15px 0;
}
