html {
    padding: 0;
    font-family: Helvetica, sans-serif;
}

body {
    margin: 0;
    background: #222;
    font-size: 30px;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

#requests div {
    position: relative;
    margin: 0;
    padding: 5px 10px;
    display: block;
    background-color: #222222;
    color: #fff;
    border: 0 #444 solid;
    border-right-width: 15px;
}

#requests div p {
    color: #aaa;
}

.author, .project, .lastUpdate {
    color: #fff;
}

#lineTemplate {
    display: none !important;
}

h2, p {
    margin: 15px 0;
}

.upvoted {
    background: linear-gradient(90deg, rgba(34,34,34,1) 0%, rgba(4,85,0,1) 49%, rgba(2,50,0,1) 100%) !important;
    border-right-color: #28a745 !important;
}

.downvoted {
    background: linear-gradient(90deg, rgba(34,34,34,1) 0%, rgba(85,0,0,1) 49%, rgba(50,0,0,1) 100%) !important;
    border-right-color: #dc3545 !important;
}

.wip {
    //background: linear-gradient(90deg, rgba(34,34,34,1) 0%, rgba(124,130,0,1) 49%, rgba(74,75,0,1) 100%) !important;
    background: repeating-linear-gradient(
            45deg,
            transparent,
            transparent 10px,
            rgba(74,75,0,1) 10px,
            rgba(74,75,0,1) 20px
    );
    border-right-color: #e0dd18 !important;
}
